#input-income {
  background-image: url("../etc/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 18px center;
  .dark & {
    background-image: url("../etc/icon-dollar--white.svg") !important;
  }
}

#window {
  background-image: url("../../public/bg0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes spinner1 {
  from {
    transform: rotate(0);
  }
  to {
    // go counter-clockwise
    transform: rotate(-359deg);
  }
}

.spinner1 {
  display: inline-block;
  animation: spinner1 0.3s linear infinite;
}

::-moz-selection {
  /* background: #b3d4fc; */
  background: #bbf7d0;
  text-shadow: none;
  .dark & {
    background: #292524;
  }
}

::selection {
  background: #bbf7d0;
  text-shadow: none;
  .dark & {
    background: #292524;
  }
}

@keyframes switchOn {
  from {
    cx: 48;
    fill: currentcolor;
  }
  to {
    cx: 16;
    fill: green;
  }
}

@keyframes switchOff {
  from {
    cx: 16;
    fill: green;
  }
  to {
    cx: 48;
    fill: currentcolor;
  }
}

.switchOn {
  animation: switchOn 0.22s forwards;
}

.switchOff {
  animation: switchOff 0.22s forwards;
}

.switchModeToggle--canvas {
  cursor: pointer;
}

.switchModeToggle--track {
  opacity: .88;
}

.switchModeToggle--thumb {
  fill: #16a34a !important;
  .dark & {
    fill: black !important;
  }
}
