::-moz-selection {
  /* background: #b3d4fc; */
  background: #bbf7d0;
  text-shadow: none;
  .dark & {
    background: #292524;
  }
}

::selection {
  background: #bbf7d0;
  text-shadow: none;
  .dark & {
    background: #292524;
  }
}

